<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kc4tech.quickpaycheck">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Contractor1099Activity" />
        <activity android:name=".activity.W2Activity" />
        <activity android:name=".activity.Contractor1099HourlyResultActivity" />
        <activity android:name=".activity.BaseSalaryActivity" />
        <activity android:name=".activity.Contractor1099SalaryResultActivity" />
        <activity android:name=".activity.WithHoldingActivity"></activity>
    </application>

</manifest>